# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.bbl
*.bcf
*.blg

# Compiled Latex files
*informe.pdf

# Filesystem in Userspace temp files
.fuse_hidden*

extra/gephi_network_renderer/.idea/
extra/gephi_network_renderer/out/
extra/gephi_network_renderer/gephi_network_renderer.iml
